= javascript_tag "$(function() { $( \"#progressbar\" ).progressbar({ value: #{@progress_value}}); });"
#progress
  #progressbar
  %p.step_text You are currently on step #{@step} of the application process.
%br/
