#employers 
  - @person.employee.references.each do |reference|
    %p #{reference.name} added!
  - unless @references_left <= 0
    %p.notice You need to add at least #{pluralize(@references_left, 'more Reference')}
%br/

