%div#uniform_order_copy
  %p ALL new employees must purchase shirts! Buy 4 get 1 free for new employees ONLY! Each shirt is $12.95
  %p If you wear a ball cap, it MUST be issued by the company! 1 FREE each year. |
  Additional fitted hats can be purchased for $12.95 each.

