=content_for(:footer) do
  :javascript
    $(document).ready(function() {
      $( "#progressbar" ).progressbar({
        value: #{@progress_value}
      });
    });

#progress
  #progressbar
  - unless @user.form_step_to_i >= @total_steps
    %p.step_text You are currently on step #{@user.form_step_to_i} of #{@total_steps}.
  - else
    %p.step_text All steps complete!
%p{ :class => 'sub_content notice' }
  = @step_status[:message]
