= content_for(:content_nav_heading) do
  Edit Project
.section_heading
  Edit Project
  .section_heading_menu
    = link_to 'Show', @project
    = link_to 'Back', projects_path
.sub_content
  = render 'form'
