$bg_color: #ffffff;
$link_color: #385b7b;
$link_bg_color: #48739c;
$shadow_color: rgba(0,0,0, .4);
$hover_color: rgba(0,0,0, .5);
$header_bg_color: #333333;
$header_shadow_color: #444444;
$nav_bg_color: #666666;
$nav_shadow_color: #555555;


