.section_heading
  Regions
  .section_heading_menu
    = link_to 'New Region', new_region_path
%table{ :class => 'section_content data_table' }
  %tr
    %th Client
    %th Name
    %th
    %th
    %th
  - @regions.each do |region|
    %tr
      %td= region.client.name
      %td= region.name
      /%td= link_to 'Show', region
      /%td= link_to 'Edit', edit_region_path(region)
      %td= link_to 'Delete', region, :confirm => 'Are you sure?', :method => :delete
%br/
